/* social-button.css */

/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    padding: 50px;
}

/* Estilos para el botón flotante utilizando Bootstrap */
#social-btn {
    position: fixed;
    bottom: 20px; /* Distancia desde el fondo */
    right: 20px;  /* Distancia desde la derecha */
    background-color: #4267B2; /* Color de fondo de Facebook */
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    text-decoration: none; /* Elimina el subrayado */
}

/* Efecto hover con Bootstrap */
#social-btn:hover {
    transform: scale(1.1); /* Efecto de aumento */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Responsividad */
@media (max-width: 600px) {
    #social-btn {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 400px) {
    #social-btn {
        width: 45px;
        height: 45px;
    }
}

